*{
    margin: 0%;
    padding: 0%;
}
body{
   background-image: url(/image/pattern-background-vector_53876-136510.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}

.img-slide{
    text-align: center;
    flex-wrap:nowrap;
    margin: 0px;
}

.imgw{
    width: 95px;
    height: 68px;
}
.ex-edit{
  width: 180px;
}
.imgw:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
  }

 /* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: white;
  padding: 3px;
  flex-wrap: nowrap;
  position:relative;
  bottom: 0;
  align-content: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 20px;
  
  
  
  
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #302d2d;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

/* Change the color of links on hover */
a:hover {
  background-color: rgb(71, 187, 233) ;
  color: rgb(238, 237, 237);
  border-radius: 20px;
  
}
.red{
  padding-bottom: 40px;
}
 /*.red:hover {
  background-color: rgb(189, 7, 7) ;
  color: rgb(238, 237, 237);
  
  
}
.blue:hover {
  background-color: rgb(28, 9, 196) ;
  color: rgb(238, 237, 237);
  
}
.pink:hover {
  background-color: rgb(240, 136, 159) ;
  color: rgb(238, 237, 237);
  
}
.orange:hover {
  background-color: rgb(212, 72, 7) ;
  color: rgb(238, 237, 237);
  font-weight: bold;
}
.purple:hover {
  background-color: rgb(211, 16, 136) ;
  color: rgb(238, 237, 237);
  
}
.yellow:hover {
  background-color: rgb(226, 247, 39) ;
  color: rgb(238, 237, 237);

} */

/* Add a green background color to the active link */
.navbar a.active {
  background-color: #04AA6D;
  color: rgb(35, 80, 202);

}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
  display: none;
}

.one-of:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  animation-iteration-count:initial;
  
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
}
.widh{
  width: 700px;
  padding-top: 4px;
  border-radius: 9px;

}
.desc{
  background-color: #cc1b1b;
  color: aliceblue;
  text-align: center;
}
.first-img{
  width: 100%;
}
p, h2{
  text-align: center;
  color: beige;
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sec-img{
  width: 100%;
}
/* .sec-col:hover{
  border: 1px solid rgb(7, 2, 2);
  background-color: #5a5a5e;
  
} */
.inline{
  display:inline;
}
.first-path{
  width: 340px;
}
.ex-widh{
  width: 300px;
  margin: 2px;
  margin-right: 10px;

}
.im-wid{
  width: 150px;
  height: 150PX;
}
.fix{
  margin-top: 20px;
  text-align: center;
  color: beige;
  background-color: rgb(12, 12, 138);
  
}
.sec-p, .p-sev{
  text-align: center;
  background-color: blue;
  color: beige;
}
.n-wid{
  width: 350px;
}

.center{
  justify-content: center;
  
}
.wid-th{
  width: 322px;
  border-radius: 9px;
}
.p-th{
  background-color: blueviolet;
  width: 100%;
  color: beige;
  text-align: center;
}
.wid-for{
  width: 322px;
  border-radius: 9px;
  
}
.p-for{
  background-color: rgb(38, 36, 41);
  width:300px ;
  color: beige;
  text-align: center;
}
.wid-fif{
  width: 322px;
  border-radius: 9px;
  
}
.p-fif{
  background-color: rgb(20, 166, 202);
  width: 275px;
  color: beige;
  text-align: center;
  line-height: 31px;
}
.marg{
  margin: 10px;
  
}



* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.wid-set{
  justify-items: center;
  position: relative;
  width: 50%;
  min-width: 400PX;
  margin-bottom: 100px;
  margin-top: 100px;
}

/* Hide the images by default */
.mySlides {
  display:none;
  
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.p-six{
  background-color: #222;
}
.p-eight{
  background-color: brown;
}
.p-nine{
  background-color: rgb(250, 127, 26);
}
.top{
  margin-top: 2px;
}
.p-ela{
  background-color: lightslategray;
}
.p-add{
  background-color: forestgreen;
  border-radius: 9px;
}
.p-color1{
  background-color: aqua;
  border-radius: 9px;
}
.p-color2{
  background-color: lawngreen;
}
.one-of{
  border-radius: 9px;
}
.ex-mar{
  margin-top: 100px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50%;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 50%;
}
.fa-youtube{
  background-color: red;
  color: aliceblue;
  border-radius: 50%;
}
.fa-pinterest{
  background-color: red;
  color: white;
  border-radius: 50%;
}
.fa-instagram{
  background-color: rgb(219, 10, 80);
  color: yellow;
  border-radius: 50%;
}
.b-b-colr{
  background-color: rgb(38, 36, 41);
  }
.warp{
  display: block;
  flex-wrap: nowrap;
  text-align: center;
  justify-items: center; 
  padding: 50px;
  background-color: rgb(38, 36, 41);
  width:350px ;
  color: rgb(83, 83, 72);
  position:relative;
 text-align: center;
 
    
}
li:hover{
  color: #f2f2f2;
}
.siz-ex{
  color: antiquewhite;
  display: block;
  width: 100%;
  
}
li{
  list-style-type: square;
}
.chan-ex{
  justify-content: center;
  padding: 50px;
  min-width: 400px;
}